@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Student Detail </h3>
<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-primary">
            <th>StudentId</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>101</td>
            <td>Madhav S</td>
            <td>madhavS@gmail.com</td>
            <td>BCS</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Abhijeet </td>
            <td>abhijeetl@gmail.com</td>
            <td>BCA</td>
        </tr>
        <tr>
            <td>103</td>
            <td>Arun</td>
            <td>arunj@gmail.com</td>
            <td>MCA</td>
        </tr>
    </tbody>
</table>

